body {
    margin: 0;
    font-size:9pt;
}

.sidebar-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color:rgb(218,165,32);
    color: white;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding-left:50px;
}

/* support */

.support{
    position: fixed;
    padding: 10px;
    right:30px;
    bottom:0;
    width:300px;
    color:white;
    background-color: rgb(218,165,32);
    border: 2px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom:none;
    font-weight: bolder;
    z-index: 5;
    text-align: center;
}

#send{
    width:100%;
}

.support a{
    color:white;
}

.support a:hover{
    color:rgb(7, 76, 165);
    text-decoration: none;
}

#form{
    display: none;
}


/* support ends*/


/*---------------------------Navigation------------------------------------*/
/*header*/

header{
    height: 70px;
    border-bottom: 7px solid rgb(218,165,32);
    text-align: center;
    position: fixed;
    margin-bottom:15%;
    top:0;
    left:0;
    width:100%;
    background: rgb(36, 35, 35);
    color:white;
    z-index:1;
}

.leftHeader{
    top:0;
    left:0;
    margin-top:10px;
    margin-left: 10px;
    border:1px solid #000;
    width:300px;
}

.rightHeader{
    top:0;
    right:0;
    margin-top:10px;
    margin-right: 10px;
    border:1px solid #000;
    width:100px;
    float: right;
    position: absolute;
}



/* end header */
/*---------------------------------------------------------------*/

/* side bar */

.imageLeft{
    float: left;
    width:70px;
    height:90px;
    margin-right:5px;
}

.userProfile{
    padding:10px;
    border:2px solid rgb(218,165,32);
    margin-bottom:5px;
}

/* side bar end*/


/*---------------------- main-content ------------------------*/

.main-content{
    margin-top:6%;
}

/* Welcome content */


.welcomeTitle{
    background-color: rgb(17, 16, 16);
    border-bottom:5px solid  rgb(218,165,32);
    color:white;
    padding:7px 10px;
    box-shadow: 5px 5px 5px rgba(17, 16, 16, 0.356);
}

.welcomeContent{
    padding:20px;
    margin-top:-10px;
}

.list{
margin-top:-35px;
}

.table{
    margin-top: -47px;
}
/* Welcome content end */

/*--------------------- main-content ends--------------------*/

/*----------------------Registration Content starts--------------------*/

.form-control,.btn{
    margin-top:5px;
}


/*----------------------Registration Content ends--------------------*/