body {
    margin: 0;
    font-size:9pt;
    font: 400 13.3333px Arial;
}

.sidebar-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    width: 15%;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: 3px solid rgb(218,165,32);
    margin-right:10px; 
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color:rgb(218,165,32);
    color: white;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding-left:70px;
    transition: all 600ms ease-in-out; 
}

label{
    font-size:12pt;
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.301);
}

/*------------------------check-box --------------------------*/


.styled-checkbox {
    position: absolute;
    opacity: 0;
  }
  .styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }
  .styled-checkbox + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0);
    border-radius: 50%; 
    border:3px solid rgb(218,165,32);
  }
  .styled-checkbox:hover + label:before {
    background: rgb(218,165,32);
  }
  .styled-checkbox:focus + label:before {
    -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }
  .styled-checkbox:checked + label:before {
    background: rgb(218,165,32);
  }
  .styled-checkbox:disabled + label {
    color: #000000;
    cursor: auto;
  }
  .styled-checkbox:disabled + label:before {
    -webkit-box-shadow: none;
            box-shadow: none;
    background: rgb(0, 0, 0);
  }
  .styled-checkbox:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    background: rgb(255, 255, 255);
    width: 2px;
    height: 2px;
    -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
            box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  
/*------------------------ check-box end ---------------------*/

/* support */

.support{
    position: fixed;
    padding: 10px;
    right:30px;
    bottom:0;
    width:50px;
    color:black;
    border: 2px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom:none;
    font-weight: bolder;
    z-index: 5;
    text-align: center;
    background-color: rgb(218,165,32);
}

#send{
    width:100%;
}

.support a{
    color:black;
    font-weight: bolder;
    width:100%;
}

.support a:hover{
    color:rgb(7, 76, 165);
    text-decoration: none;
}

#form{
    display: none;
}


/* support ends*/


/*---------------------------Navigation------------------------------------*/
/*header*/

header{
    height: 70px;
    border-bottom: 7px solid rgb(218,165,32);
    text-align: center;
    position: fixed;
    margin-bottom:15%;
    top:0;
    left:0;
    width:100%;
    background: rgb(36, 35, 35);
    color:white;
    z-index:5;
}

.leftHeader{
    top:0;
    left:0;
    margin-top:5px;
    margin-left: 10px;
    position:fixed;
}

.rightHeader{
    top:0;
    right:0;
    margin-top:15px;
    margin-right: 10px;
    float: right;
    position: absolute;
}

#namelogo{
    width:30%;
}

/* end header */
/*---------------------------------------------------------------*/

/* side bar */

.imageLeft{
    float: left;
    width:70px;
    height:90px;
    margin-right:5px;
    margin-top:6px;
}

.userWelcome{
    margin-top:5px;
}
.userProfile{
    padding:10px;
    margin-bottom:5px;
    box-shadow: 2px 2px 2px rgba(17, 16, 16, 0.432);
}

/* side bar end*/


/*---------------------- main-content ------------------------*/

.main-content{
    margin-top:6%;
}

/* Welcome content */

th{
    color:rgb(218,165,32);
}

.welcomeTitle{
    background-color: rgb(17, 16, 16);
    border-bottom:5px solid  rgb(218,165,32);
    color:rgb(218,165,32);
    font-weight: bolder;
    padding:7px 10px;
    box-shadow: 5px 5px 5px rgba(17, 16, 16, 0.356);
    
}

.border-shape{
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.welcomeContent{
    padding:20px;
    margin-top:-10px;
}

.list{
margin-top:-35px;
}

.table{
    margin-top: -47px;
}
/* Welcome content end */

/*--------------------- main-content ends--------------------*/

/*----------------------Registration Content starts--------------------*/

.form-control,.btn{
    margin-top:5px;
}


/*----------------------Registration Content ends--------------------*/

/*-----------------------Button Gold --------------------------------*/
.button-gold{
    background: #000;
    color: #f1f1f1;
    border: solid 2px rgb(218,165,32);
}

.button-sm-gold{
    background: #000;
    color: #f1f1f1;
    border: solid 2px rgb(218,165,32);
    padding:3px;
    font-size:7pt;
    width: 100px;
}

input.form-control,select.form-control{
    background: transparent;
    border: 2px solid rgb(218,165,32);
}

#select:focus, textarea:focus, input:focus, input[type]:focus {  
    border-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
    outline: 0 none;
 }



/*-----------------switch button  start---------------*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(87, 65, 10);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(233, 193, 93);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:rgb(218,165,32);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(218,165,32);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/*-----------------switch button ends----------------*/

#namelogo{
    width:30%;
}

#note{
	color: #000000;
	font-size: 12px;
	margin: 0 auto;
	padding: 4px;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	width: 400px;
}

/*-----------countDown------------------*/
.countdownHolder{
	width:450px;
	margin:0 auto;
	font: 40px/1.5 'Open Sans Condensed',sans-serif;
	text-align:center;
	letter-spacing:-3px;
}

.position{
	display: inline-block;
	height: 1.6em;
	overflow: hidden;
	position: relative;
	width: 1.05em;
}

.digit{
	position:absolute;
	display:block;
	width:1em;
	background-color:rgb(0, 0, 0);
	border-radius:0.2em;
	text-align:center;
	color:rgb(218,165,32);
    letter-spacing:-1px;
    font-weight:bolder;
}

.digit.static{
	box-shadow:1px 1px 1px rgba(4, 4, 4, 0.35);
	
	background-image: linear-gradient(bottom, black 50%, black 50%);
	background-image: -o-linear-gradient(bottom, black 50%, black 50%);
	background-image: -moz-linear-gradient(bottom, black 50%, black 50%);
	background-image: -webkit-linear-gradient(bottom, black 50%, black 50%);
	background-image: -ms-linear-gradient(bottom, black 50%, black 50%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.5, rgb(0, 0, 0)),
		color-stop(0.5, #000000)
	);
}

/**
 * You can use these classes to hide parts
 * of the countdown that you don't need.
 */

.countDays{ /* display:none !important;*/ }
.countDiv0{ /* display:none !important;*/ }
.countHours{}
.countDiv1{}
.countMinutes{}
.countDiv2{}
.countSeconds{}


.countDiv{
	display:inline-block;
	width:16px;
	height:1.6em;
	position:relative;
}

.countDiv:before,
.countDiv:after{
	position:absolute;
	width:5px;
	height:5px;
	background-color:#444;
	border-radius:50%;
	left:50%;
	margin-left:-3px;
	top:0.5em;
	box-shadow:1px 1px 1px rgba(4, 4, 4, 0.5);
	content:'';
}

.countDiv:after{
	top:0.9em;
}
/*-----------countDown end----------------*/
